[Unit]
Description=Palworld server
BindsTo=docker.service
After=docker.service

[Service]
Type=simple

User=palworld

Restart=on-failure
RestartSec=10

ExecStartPre=-/usr/bin/docker kill palworld
ExecStartPre=-/usr/bin/docker rm palworld
ExecStart=/usr/bin/docker run --name palworld \
    -v /home/palworld:/home/steam/Steam/steamapps/common/PalServer/Pal/Saved \
    -p 8211:8211/udp \
    ghcr.io/cyr62110/palworld:latest
ExecStop=/usr/bin/docker stop ghost

[Install]
WantedBy=multi-user.target
